<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body>
欢迎
<div th:each="r:${list}">
    <a th:href="@{/answer(thisNumber=${r.thisNumber})}" class="layui-btn layui-btn-primary layui-btn-radius" target="_self">题<span th:text="${r.thisNumber}"></span></a>
</div>
</body>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/layui.js"></script>
</html>