<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>第二环节·分数</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">

</head>
<body>
<div>
    得分页面
</div>
</body>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/layui/layui.all.js"></script>
<script>
    ;!function () {
        var layer = layui.layer,
            form = layui.form;
        //连接到websocket
        var webSocketUrl = "ws://192.168.0.113:8088/websocket/[(${session.user.userName})]";
        var socket = new WebSocket(webSocketUrl);

        //获得消息事件
        socket.onmessage = function (msg) {
            console.log(msg.data);
            // 解析JSON串
            var data = JSON.parse(msg.data);
        };
        //关闭事件
        socket.onclose = function () {
            console.log("websocket已关闭");

        };
        //发生了错误事件
        socket.onerror = function () {
            console.log("websocket发生了错误");
        }
    }();
</script>
</html>