<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>演讲页面</title>
    <link href="../static/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/speech.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="home" class="header">
    <div id="container" class="container">
        <!-- top-hedader -->
        <div class="top-header">
            <!-- /logo -->
            <div class="banner-info">
                <div class="col-md-7 header-right">
                    <h1 id="test"></h1>
                    <h6 th:text="${'当前为第'+gomeUser.competitionOrder+'位参赛选手'}"></h6>
                    <ul class="address">

                        <li>
                            <ul class="address-text">
                                <li><b>姓名</b></li>
                                <li th:text="${gomeUser.userPersonsName}"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>板块</b></li>
                                <li th:text="${branch0}"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>部门</b></li>
                                <li th:text="${branch1}"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>岗位</b></li>
                                <li th:text="${branch2}"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>视频展示</b></li>
                                <li th:text="${gomeUser.isSubmitRobot}"></li>
                                <li th:if="${gomeUser.competitionOrder eq session.user.competitionOrder and gomeUser.isSubmitRobot eq '是'}">
                                    <button id="btn_pl" type="button" th:onclick="btn_play()" class="layui-btn">点击播放
                                    </button>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="col-md-5 header-left">
                    <img th:src="${gomeUser.photoUrl}" alt="" style="width:380px;height: 350px; ">
                </div>
                <div class="clearfix"></div>


            </div>
        </div>
    </div>
    <!--播放视频-->
    <div id="play_mv" style="display: none;">
        <video id="play_mv_video" type="video/mp4">

        </video>
    </div>
</div>
</body>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/layui/layui.all.js"></script>
<script>
    //连接到websocket
    var webSocketUrl = "ws://10.2.51.69:8088/websocket/[(${session.user.userName})]";
    var socket = new WebSocket(webSocketUrl);

    ;!function () {
        var layer = layui.layer,
            form = layui.form,
            $ = layui.$,
            util = layui.util;
        // 倒计时
        //1. js获取当bai前时间
        var date = new Date();
        var min = date.getMinutes();
        //3. 设置当前时间+5分钟：把zhi当前分钟数+5后的值重新设置为date对象的分钟数
        date.setMinutes(min + 5);
        // 设置开始时间和结束时间
        var endTime = date.getTime();
        var nowDate = new Date().getTime();
        var last_DATE = 5000;
        // 1.开始时间是当前时间，结束时间是数据库的时间*5分钟
        util.countdown(endTime, nowDate, function (date, nowDate, timer) {
            //debugger;
            // 1. 如果加的五分钟小于当前时间
            var str = date[2] + '分' + date[3] + '秒';
            layui.$('#test').html('倒计时：' + str);
            // 如果结束时间小于或等于当前时间 弹出框
            if (endTime - nowDate == last_DATE) {
                $("#test").attr("style", "color:red").html('倒计时：' + str);
            } else if (endTime <= nowDate) {
                $("#test").attr("style", "color:red").html("演讲完毕，等待[(${gomeUser.competitionOrder})]号选手进行第二环节作答！");
            }
        });


        //获得消息事件
        socket.onmessage = function (msg) {
            console.log(msg.data);
            if (msg.data !== "连接成功") {
                // 解析JSON串
                var data = JSON.parse(msg.data);
                //第一环节
                if (data.message.userSortnum != -1 && data.message.thisLinks == 1) {
                    //获取第一环节，视频播放报文
                    if (data.message.title == "play_mv" && data.toUserId == "all") {
                        console.log("第二环节，视频播放");
                        $('#container').hide("slow");
                        $('#play_mv').show("slow");
                        console.log(data.message.mv_url);
                        var play_mv_video = document.getElementById("play_mv_video");
                        play_mv_video.src = data.message.mv_url;
                        play_mv_video.width = $(window).width();
                        play_mv_video.height = $(window).height();

                        //延迟两秒播放
                        setTimeout(function () {
                            play_mv_video.play();
                        }, 2000);
                        //延迟两秒关闭
                        setTimeout(function () {
                            play_mv_video.onended = function () {
                                $('#container').show("slow");
                                $('#play_mv').hide("slow");
                            }
                        }, 2000)

                    } else {
                        window.location.href = "/speech?userSortnum=" + data.message.userSortnum + "&thisLinks=" + data.message.thisLinks;
                    }
                }
                //第二环节
                if (data.message.userSortnum != -1 && data.message.thisLinks == 2) {
                    //开启第二环节，跳转到选题页面
                    window.location.href = "/topic?userSortnum=" + data.message.userSortnum + "&thisLinks=" + data.message.thisLinks;

                }
            }
        };
        //关闭事件
        socket.onclose = function () {
            console.log("websocket已关闭");

        };
        //发生了错误事件
        socket.onerror = function () {
            console.log("websocket发生了错误");
            socket = new WebSocket(webSocketUrl);
        }
    }();


    //点击播放视频
    function btn_play() {
        //向公屏端发送播放视频报文
        socket.send('{"toUserId":"all","message":{"title":"play_mv","mv_url":"[(${gomeUser.videoUrl})]","thisLinks":"1","userSortnum":"[(${gomeUser.competitionOrder})]"}}');
    }

</script>
</html>