<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gome.mapper.FinalScoreMapper">
  <resultMap id="BaseResultMap" type="com.gome.pojo.FinalScore">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="THIS_LINKS" jdbcType="VARCHAR" property="thisLinks" />
    <result column="USER_PERSONS_NAME" jdbcType="VARCHAR" property="userPersonsName" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="COMPETITION_ORDER" jdbcType="VARCHAR" property="competitionOrder" />
    <result column="FINAL_SCORE" jdbcType="DOUBLE" property="finalScore" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, THIS_LINKS, USER_PERSONS_NAME, USER_NAME, COMPETITION_ORDER, FINAL_SCORE
  </sql>
  <select id="selectByExample" parameterType="com.gome.pojo.FinalScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from final_score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from final_score
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from final_score
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gome.pojo.FinalScoreExample">
    delete from final_score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gome.pojo.FinalScore">
    insert into final_score (ID, THIS_LINKS, USER_PERSONS_NAME, 
      USER_NAME, COMPETITION_ORDER, FINAL_SCORE
      )
    values (#{id,jdbcType=INTEGER}, #{thisLinks,jdbcType=VARCHAR}, #{userPersonsName,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{competitionOrder,jdbcType=VARCHAR}, #{finalScore,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gome.pojo.FinalScore">
    insert into final_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="thisLinks != null">
        THIS_LINKS,
      </if>
      <if test="userPersonsName != null">
        USER_PERSONS_NAME,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="competitionOrder != null">
        COMPETITION_ORDER,
      </if>
      <if test="finalScore != null">
        FINAL_SCORE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="thisLinks != null">
        #{thisLinks,jdbcType=VARCHAR},
      </if>
      <if test="userPersonsName != null">
        #{userPersonsName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="competitionOrder != null">
        #{competitionOrder,jdbcType=VARCHAR},
      </if>
      <if test="finalScore != null">
        #{finalScore,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gome.pojo.FinalScoreExample" resultType="java.lang.Long">
    select count(*) from final_score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update final_score
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.thisLinks != null">
        THIS_LINKS = #{record.thisLinks,jdbcType=VARCHAR},
      </if>
      <if test="record.userPersonsName != null">
        USER_PERSONS_NAME = #{record.userPersonsName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.competitionOrder != null">
        COMPETITION_ORDER = #{record.competitionOrder,jdbcType=VARCHAR},
      </if>
      <if test="record.finalScore != null">
        FINAL_SCORE = #{record.finalScore,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update final_score
    set ID = #{record.id,jdbcType=INTEGER},
      THIS_LINKS = #{record.thisLinks,jdbcType=VARCHAR},
      USER_PERSONS_NAME = #{record.userPersonsName,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      COMPETITION_ORDER = #{record.competitionOrder,jdbcType=VARCHAR},
      FINAL_SCORE = #{record.finalScore,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gome.pojo.FinalScore">
    update final_score
    <set>
      <if test="thisLinks != null">
        THIS_LINKS = #{thisLinks,jdbcType=VARCHAR},
      </if>
      <if test="userPersonsName != null">
        USER_PERSONS_NAME = #{userPersonsName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="competitionOrder != null">
        COMPETITION_ORDER = #{competitionOrder,jdbcType=VARCHAR},
      </if>
      <if test="finalScore != null">
        FINAL_SCORE = #{finalScore,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gome.pojo.FinalScore">
    update final_score
    set THIS_LINKS = #{thisLinks,jdbcType=VARCHAR},
      USER_PERSONS_NAME = #{userPersonsName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      COMPETITION_ORDER = #{competitionOrder,jdbcType=VARCHAR},
      FINAL_SCORE = #{finalScore,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>